html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom: 1em;
}

.time-filter {
  margin-left: auto;
}

.time-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time-display time,
.time-display em {
  display: block;
  min-height: 1.5em;
}

.time-display em {
  color: #666;
  font-style: italic;
}

#map {
  width: 100%;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map circle {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
}

.legend {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-block: 1em;
}

.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background: var(--color);
  padding: 0.5em 1.5em;
  color: white;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.legend > div:first-of-type {
  text-align: left;
}

.legend > div:last-of-type {
  text-align: right;
}

.legend strong {
  white-space: nowrap;
}